Case Study on Testing of Hypothesis
A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between
thefeatures “Region” and “Manager”

In [24]:
# import the pandas library
import pandas

In [2]:
#import and showcase dataset
data = pandas.read_csv("C:/Users/Ammu/Downloads/Sales_add.csv")
data.head(6)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948

## 1. Is there an increase in Sales after stepping into digital marketing?

Null and Alternative hypotheses.

H0: The Sales before digital marketing is the same as that after sales (Mean1=Mean2)

H0: The Sales before digital marketing is less than that after sales (Mean1<Mean2)

In [4]:
# Study the data type of the 2 variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [ ]:
# No null values;
# The variables are numerical(discrete)
# dataset size is small.
# The 2 variables are dependent.

In [3]:
# To compare the 2 variables, check if the values are in accordance 
#to the assumption of Normality
# import Shapiro-Wilks test for Normality from scipy.stats
from scipy.stats import shapiro

In [9]:
#shapiro test
statb,pb=shapiro(data['Sales_before_digital_add(in $)'])

In [10]:
# level of significance, alpha=0.05. Reject H0 is p< alpha.
if pb<0.05:
    print('Assymetric Data')
else:
    print('Normal data')

Normal data

In [12]:
#shapiro test
stata,pa=shapiro(data['Sales_After_digital_add(in $)'])

In [13]:
# level of significance, alpha=0.05. Reject H0 is p< alpha.
if pa<0.05:
    print('Assymetric Data')
else:
    print('Normal data')

Normal data

In [14]:
# Since the 2 dependent variables are from normal population,
# perform a PAIRED T-TEST

In [17]:
# import related t-test from scipy.stats library
from scipy.stats import ttest_rel

In [18]:
#paired t-test
t_stat,pt=ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
t_stat,pt

(-12.09070525287017, 6.336667004575778e-11)

In [71]:
# level of significance, alpha=0.05. Reject H0 is p< alpha.
if pt<0.05:
    print('Reject the null hypothesis at 5% level of Significance')
else:
    print('Accept the null hypothesis at 5% level of Significance')

Reject the null hypothesis at 5% level of Significance

### CONCLUSION: Digital Marketing has improved the Sales.

# Are the attributes, Region and Manager independent?

Null and Alternative hypotheses.

H0: The attributes are independent

H1: The attributes are dependent

In [28]:
# Names under Manager column
data['Manager'].unique()

array(['Manager - A', 'Manager - C', 'Manager - B'], dtype=object)

In [32]:
# Names under Region column
data['Region'].unique()

array(['Region - A', 'Region - B', 'Region - C'], dtype=object)

In [21]:
# Import chi square test from scipy.stats library
from scipy.stats import chi2_contingency

In [64]:
# create a pivot table for Managers vs. Regions  using crosstab()
tab= pandas.crosstab(data['Manager'], data['Region'])

In [67]:
# chi square test for independence of attributes
chi2stat,p_chi,dof,expected_freq=chi2_contingency(tab)
chi2_contingency(tab)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 2.86363636, 2.04545455],
        [3.18181818, 2.22727273, 1.59090909],
        [2.72727273, 1.90909091, 1.36363636]]))

In [68]:
# level of significance, alpha=0.05. Reject H0 is p< alpha.
if p_chi<0.05:
    print('Reject the null hypothesis')
else:
    print('Accept the null hypothesis')

Accept the null hypothesis

### Conclusion: The attributes, Regions and Managers are independent